---
layout: wax/collection_item
image_viewer: 'mirador'
pagination: true
meta:
  - label: 'Title'
    value: page.label
  - label: 'Artist'
    value: page.artist
  - label: 'Date'
    value: page._date
  - label: 'Location'
    value: page.location
  - label: 'Language'
    value: page.language
  - label: 'Full description'
    value: page.current_location
  - label: 'Description source'
    value: page.description_source	
  - label: 'Current location including call number'
    value: page.call_number
---
